.fullContainer {
	width: 100vw;
}

.backgroundImage {
	background-image: url('../../images/NewYork.jpeg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.aboutContainer {
	width: 75%;
	height: 120vh;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-top: 0;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 0;
	border-style: solid;
	border-color: rgb(16, 115, 224);
}

@media (min-width: 0px) {
	.aboutContainer {
		height: 85vh;
	}
}

@media (min-width: 375px) {
	@media (min-height: 812px) {
		.aboutContainer {
			height: 80vh;
		}
	}
}

@media (min-width: 450px) {
	@media (min-height: 600px) {
		.aboutContainer {
			height: 100vh;
		}
	}
}

@media (min-width: 600px) {
	.aboutContainer {
		height: 120vh;
	}
	@media (min-height: 1024px) {
		.aboutContainer {
			height: 100vh;
		}
	}
}

@media (min-width: 1280px) {
	.aboutContainer {
		height: 125vh;
	}
}
