.mainGrid {
	display: grid;
	grid-template-areas: "overlap";
	grid-row: 1fr;
	grid-column: 1fr;
	height: 25vh;
	width: 100vw;
	background-position-y: center;
	background-position-x: left;
	background-repeat: no-repeat;
	background-size: contain;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.topLeftTriangle {
	position: relative;
	grid-area: overlap;
	width: 50vw;
	border-top: 25vh solid none;
	border-right: 25vh solid transparent;
	z-index: 1;
}

.bottomRightTriangle {
	position: relative;
	grid-area: overlap;
	justify-self: right;
	float: right;
	width: calc(100vw - (50vw + 25vh));
	height: 0;
	border-bottom: 25vh solid transparent;
	border-left: 25vh solid transparent;
	z-index: 2;
	color: white;
	text-align: center;
	padding-right: 10vw;
}

.bottomRightTriangle p {
	padding-top: 5vh;
	font-size: 4vmin;
}

.detailText {
	font-family: 'Open Sans', sans-serif;
}

.detailText h3 {
	font-size: 3vmin;
	font-weight: bold;
	text-decoration: underline;
}

.detailText h5 {
	font-size: 2.5vmin;
}

.iconHolder {
	display: grid;
	grid-template-areas: 'iconOverlap';
	grid-row: 1fr;
	grid-column: 1fr;
}

.appStoreIcon {
	height: auto;
}

.githubIcon {
	position: relative;
	grid-area: iconOverlap;
	height: auto;
	z-index: 1;
}

.lockIcon {
	position: relative;
	grid-area: iconOverlap;
	align-self: center;
	justify-self: center;
	z-index: 2;
}

@media (min-width: 0px) {
	.topLeftTriangle {
		width: 30vw;
		border-top: 25vh solid transparent;
		border-right: 25vh solid transparent;
	}
	.bottomRightTriangle {
		width: calc(100vw - (30vw + 25vh));
		border-bottom: 25vh solid rgb(16, 115, 224);
		border-left: 25vh solid transparent;
	}
	.mainGrid {
		background-size: cover;
	}
	.appStoreIcon {
		width: 100px;
	}
	.githubIcon {
		width: 75px;
	}
	.detailText h3{
		font-size: 5vmin;
	}
	.detailText h5{
		font-size: 3vmin;
	}
}

@media (min-width: 600px) {
	.topLeftTriangle {
		width: 50vw;
		border-top: 25vh solid transparent;
		border-right: 25vh solid transparent;
	}
	.bottomRightTriangle {
		width: calc(100vw - (50vw + 25vh));
		border-bottom: 25vh solid rgb(16, 115, 224);
		border-left: 25vh solid transparent;
	}
	.mainGrid {
		background-size: contain;
	}
	.appStoreIcon {
		width: 200px;
	}
	.githubIcon {
		width: 150px;
	}
	.detailText h3{
		font-size: 3vmin;
	}
	.detailText h5{
		font-size: 2.5vmin;
	}
}
