.container {
	/* margin-top: 20vh; */
}

.projectPageMain {
	background-color: white;
	border-top: 2px solid rgb(16, 115, 224);
	width: 100vw;
	height: 75vh;
}

.projectPageMain h2 {
	font-size: 50px;
}

.centeringBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
}
.projectPageAbout {
	text-align: center;
	font-size: large;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	color: white;
	width: 55%;
	text-align: center;
}

@media (min-width: 0px) {
	.container {
		/* margin-top: 120vh; */
	}
}

@media (min-width: 600px) {
	.container {
		/* margin-top: 20vh; */
	}
}
