.gridStyling {
	background-color: rgb(16, 115, 224);
	margin-top: -15vh;
	color: white;
	text-align: center;
	font-size: large;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	width: 55%;
	width: 100vw;
}
