.infoContainer {
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	color: rgb(50, 50, 50);
	text-align: center;
	font-size: 0.5rem;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'Open Sans', sans-serif;
}

.infoContainer h2 {
	font-size: 2.5rem;
}

.highlightedName {
	color: rgb(16, 115, 224);
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	font-family: 'Open Sans', sans-serif;
}

.subtitleText {
	color: rgb(90, 90, 90);
	text-align: center;
	font-size: large;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}

.viewWorkContainer {
	width: 100%;
	height: 20vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.viewWorkButtonContainer {
	background-color: white;
	height: 10vh;
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.myWorkButton {
	background-color: white !important;
	color: rgb(16, 115, 224) !important;
	border-color: rgb(16, 115, 224) !important;
	font-family: 'Open Sans', sans-serif !important;
	width: 15vw;
	height: 6vh;
}

.myWorkButton:hover {
	background-color: rgb(16, 115, 224) !important;
	color: white !important;
}

@media (min-width: 0px) {
	.infoContainer h2 {
		font-size: 6vmin;
	}
	.subtitleText {
		font-size: 4vmin;
	}
	.myWorkButton {
		width: 40vw;
		font-size: 4vmin !important;
	}
}

@media (min-width: 600px) {
	.subtitleText {
		font-size: 3vmin;
	}
	.myWorkButton {
		font-size: 3vmin !important;
	}
}
