.deskContainerMain {
	background-color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.deskContainerImage {
	width: auto;
	height: 50vh;
}
